out
dist
node_modules
tmp
.vscode-test/
*.vsix

.DS_Store

pnpm-lock.yaml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
.pytest_cache/
.coverage
htmlcov/

